html {
  background: #000000;
  background-image: url("/Users/ericdunlap/Documents/GitHub/eric-dunlap_dreammachine/images/DreamMachineBackdrop.png");
  width: 100%;
  height: 100%;
  background-position: center, center;
  background-size: cover;
  background-repeat: none;
}

/* html {
  background-image: url("/Users/ericdunlap/Documents/GitHub/eric-dunlap_dreammachine/Images/buttoncontainers.png");
  background: rgba(0, 0, 0, 0);
} */

/* </style > main {
  height: 100%;
  width: 100%;
  background-color: rgba(30, 30, 202, 0);
  margin: main;
} */

.container {
  width: 100%;
  height: 100%;
  position: center, center;
  size: cover;
}

.btn-dreammachine {
  color: rgb(255 255 255);
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.btn-dreammachine:hover {
  background-color: rgba(85, 231, 45, 0.381);
}

.btn-showcase {
  color: rgb(255 255 255);
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.btn-showcase:hover {
  background-color: rgba(85, 231, 45, 0.381);
}

.btn-submit {
  color: rgb(255 255 255);
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.btn-submit:hover {
  background-color: rgba(85, 231, 45, 0.381);
}

.btn-whatami {
  color: rgb(255 255 255);
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.btn-whatami:hover {
  background-color: rgba(85, 231, 45, 0.381);
}
